- name: connect to postgresql
  hosts: postgres_db
  gather_facts: false
  vars_files:
    - vars.yml

  tasks:
    - name: Ping container
      ping:

    - name: Copy queries.sql to /tmp/queries.sql
      ansible.builtin.copy:
        src: src/queries.sql
        dest: /tmp/queries.sql
      tags:
        - copy

    - name: Execute a command
      ansible.builtin.shell: |
        apt update
        apt upgrade -y
        apt install pgbackrest -y
      tags:
        - install_pgbackrest

    - name: install wget
      ansible.builtin.shell: |
        apt update
        apt install wget -y
      tags:
        - install_wget

    - name: Install Netflix dataset
      ansible.builtin.shell: |
        cd /tmp && wget {{ link }}
      tags:
        - install_netflix_dataset

    #    - name: Update the pgbackrest configuration
    #     ansible.builtin.shell: |
    #      echo "[netflix_shows]" >> /etc/pgbackrest.conf
    #       echo "pg1-path=/var/lib/postgresql/18/docker" >> /etc/pgbackrest.conf
    #       echo "pg1-port=5432" >> /etc/pgbackrest.conf
    #       echo "pg1-user=postgres" >> /etc/pgbackrest.conf
    #     tags:
    #       - update_pgbackrest_config

    - name: Update configuration file
      ansible.builtin.blockinfile:
        path: /etc/pgbackrest.conf
        block: |
          [netflix_shows]
          pg1-path=/var/lib/postgresql/18/docker
          pg1-port=5432
          pg1-user=postgres
      tags:
        - update_pgbackrest_config

    - name: Create pgbackrest control file
      ansible.builtin.shell: |
        mkdir -p /tmp/pgbackrest
        chown postgres:postgres /tmp/pgbackrest
        chmod -R 700 /tmp/pgbackrest
        chown postgres:postgres /etc/pgbackrest.conf
        chmod 600 /etc/pgbackrest.conf

    - name: Create Stanza
      ansible.builtin.shell: |
        pgbackrest --stanza=netflix_shows stanza-create
      args:
        creates: /var/lib/pgbackrest/archive/netflix_shows/archive.info
      tags:
        - create_stanza

    - name: Execute sql script
      ansible.builtin.shell: |
        psql -U postgres -d {{ pg_db }} -f /tmp/queries.sql
      tags:
        - execute_sql_script_queries

    - name: Execute sql script flight
      ansible.builtin.shell: |
        psql -U postgres -d {{ pg_db }} -f /tmp/netflix.sql
      tags:
        - execute_sql_script_flight

    - name: Permission pgbackrest
      ansible.builtin.shell: |
        chown -R postgres:postgres /var/lib/pgbackrest
        chmod -R 750 /var/lib/pgbackrest
