- name: connect to postgresql
  gather_facts: false
  vars_files:
    - vars.yml

  tasks:
    - name: Copy queries.sql to /tmp/queries.sql
      ansible.builtin.copy:
        src: src/queries.sql
        dest: /tmp/queries.sql
      tags:
        - copy

    - name: Run several queries against postgres db
      community.postgresql.postgresql_query:
        login_host: "{{ pg_host }}"
        login_port: "{{ pg_port }}"
        login_user: "{{ pg_user }}"
        login_password: "{{ pg_password }}"
        db: "{{ pg_db }}"
        query: |
          CREATE TABLE IF NOT EXISTS employees (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100) NOT NULL,
            email VARCHAR(100) UNIQUE
          );
      delegate_to: localhost

    - name: Execute a command
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "apt update && apt upgrade -y && apt install pgbackrest -y"
      tags:
        - install_pgbackrest

    - name: install wget
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "apt update && apt install wget -y"
      tags:
        - install_wget

    - name: Install Flight dataset
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "cd tmp && wget {{ link }}"
      tags:
        - install_flight_dataset

    - name: Update the pgbackrest configuration
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c 'echo -e "[demo] \n pg-path=/var/lib/postgresql/18/docker" >> /etc/pgbackrest.conf'
      tags:
        - update_pgbackrest_config

    - name: Execute sql script
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "psql -U postgres -d {{ pg_db }} -f /tmp/queries.sql"
      tags:
        - execute_sql_script_queries

    - name: Execute sql script
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "psql -U postgres -d {{ pg_db }} -f /tmp/flight.sql"
      tags:
        - execute_sql_script_flight

    - name: Create Full backup
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "pgbackrest --stanza=demo --type=full backup"
      tags:
        - create_full_backup

    - name: Create Incremental backup
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "pgbackrest --stanza=demo --type=incr backup"
      tags:
        - create_incremental_backup

    - name: Create Differential backup
      ansible.builtin.command:
        cmd: docker exec  postgres_db bash -c "pgbackrest --stanza=demo --type=differential backup"
      tags:
        - create_differential_backup
